.title {padding: 2em; text-align: center; font-size: 2em; text-decoration: underline;}
#second {font-size: 0.625em; border: 1px solid #aaa; padding: 0.25em 0.5em; margin-left: 1em;}
.modal-wrapper {width: 100%; height: 100vh; background-color: rgba(0, 0, 0, .7); display: none; position: fixed; top: 0; left: 0;}
.modal-wrapper > .modal-wrap {display: table-cell; text-align: center; vertical-align: middle;}
.modal-wrapper > .modal-wrap > .score-wrap {font-size: 2em; color: #f9f9f9;}
.wrapper {max-width: 1200px; margin: auto;}
.box {width: 100px; height: 100px; margin-bottom: 10px;}
.box1 {background-color: lightcoral; animation-name: ani3; animation-duration: 2s; animation-delay: 0s; animation-fill-mode: forwards; animation-direction: alternate; animation-iteration-count: infinite; animation-timing-function: linear; animation-play-state: paused;}
/* .box1.active {animation-play-state: paused;} */

@keyframes ani3 {
	0% {transform: translateX(0);}
	100% {transform: translateX(1100px);}
}


/* .box1 {background-color: lightcoral; animation-name: ani1; animation-duration: 3s; animation-iteration-count: infinite;}
.box2 {background-color: lightseagreen; animation-name: ani2; animation-duration: 3s; animation-iteration-count: 2;}
@keyframes ani1 {
	0% {transform: translateX(0) rotate(0) scale(1);}
	50% {transform: translateX(900px) rotate(360deg) scale(2);}
	100% {transform: translateX(0) rotate(0) scale(1);}
}
@keyframes ani2 {
	0% {transform: translate(0, 0) rotate(0) scale(1); background-color: lightseagreen;}
	25% {transform: translate(900px, 0) rotate(360deg) scale(2); background-color: mediumorchid;}
	50% {transform: translate(900px, 300px) rotate(0deg) scale(1); background-color: moccasin;}
	75% {transform: translate(0, 300px) rotate(-360deg) scale(2); background-color: paleturquoise;}
	100% {transform: translate(0, 0) rotate(0) scale(1); background-color: lightseagreen;}
} */

/* @keyframes ani1 {
	from {}
	to {}
} */