@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/* font-family: 'Lato', sans-serif; */

/******************* common *********************/
html, body {font-family: 'Lato', sans-serif; color: #111; height: 8000px;}


/******************* header-wrapper *********************/
.header-wrapper {color: #777; position: fixed; width: 100%; z-index: 9;}
.header-wrapper > .navi-wrap {float: left;}
.header-wrapper > .navi-wrap > .navi {float: left;}
.header-wrapper > .navi-wrap > .navi:hover {background-color: #ccc; color: #111;}
.header-wrapper > .navi-wrap > .navi > a {padding: 1em;}
.header-wrapper > .navi-wrap > .navi > a > .fa {margin-right: 0.25em;}
.header-wrapper > .search {float: right; padding: 1em; cursor: pointer;}
.header-wrapper > .search:hover {background-color: #f44336; color: #f9f9f9;}
.header-wrapper > .mo-bars {float: right; padding: 1em; cursor: pointer; display: none;}
.header-wrapper > .mo-bars:hover {background-color: #111; color: #f9f9f9; color: #f9f9f9;}

.header-wrapper.active {color: #111; background-color: #fff; box-shadow: 0 0 8px rgba(0, 0, 0, .5); transition: transform 0.5s; transition-timing-function: linear;}

.monavi-wrapper {width: 100%; position: fixed; top: 48px; background-color: #fff; display: none;}
.monavi-wrapper > .monavi {padding: 1em;}
.monavi-wrapper > .monavi:hover {background-color: #eee;}


/******************* main-wrapper *********************/
.main-wrapper {width: 100%; height: 100vh; background: url(../img/parallax1.jpg) no-repeat center / cover; background-attachment: fixed; display: table;}
.main-wrapper > .main-wrap {display: table-cell; text-align: center; vertical-align: middle;  background-color: rgba(255, 255, 255, .25);}
.main-wrapper > .main-wrap > h1.logo {display: inline-block; background-color: #111; color: #f9f9f9; font-size: 1.5em; padding: 0.5em 0.75em; letter-spacing: 0.325em;}


/******************* about-wrapper *********************/



/******************* pf-wrapper *********************/



/******************* contact-wrapper *********************/



/******************* footer-wrapper *********************/




/******************* Response *********************/
@media (max-width: 1400px) {

}


@media (max-width: 1200px) {

}


@media (max-width: 992px) {

}


@media (max-width: 768px) {
	.header-wrapper > .navi-wrap > .navi:not(:first-child) {display: none;}
	.header-wrapper > .search {display: none;}
	.header-wrapper > .mo-bars {display: block;}
	.monavi-wrapper.active {display: block;}
}


@media (max-width: 576px) {
	.main-wrapper > .main-wrap > h1.logo > span {display: none;}
}


